.login {
  background-color: #a892ee;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  display: grid;
  place-items: center;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.login button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin: 1rem;
}

.login button:hover,
.login button:active {
  background-color: #510674;
  border-color: #510674;
}

.login button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.login button.alternative:hover,
.login button.alternative:active {
  background-color: #ddb3f8;
}

.login__controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.login__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.login__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.login__actions {
  text-align: right;
}

.login__error {
  color: red;
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}
